<h2 class="text-center my-4">Projects</h2>
<div class="row">
    <div class="col-md-6 mb-4" *ngFor="let project of projects">
        <div class="card">
            <img class="card-img-top" [src]="project.image" [alt]="project.name">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a [href]="project.link" class="btn btn-primary" target="_blank">View Project</a>
            </div>
        </div>
    </div>
</div>