body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.container {
    display: inline-grid;

}