body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-form {
    height: 100vh;
}

#form {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: antiquewhite;
    justify-content: center;
    padding: 20px;
}

.form-control {
    display: flex;
    margin-bottom: 10px;
}

.form-control input,
.form-control label {
    width: 50%;

}

