body,
html {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

form {
    padding: 20px 30px;
    background-color: #c04971;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 5px #000;
    width: 550px;
    /* background-image: url("https://picsum.photos/400/300"); */
    /* background-size: cover; */

}

sup {
    color: red;
    text-shadow: 0 0 1px red;
}

label,
input,
select,
textarea {
    width: 50%;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 2px 4px;
}

label {
    font-size: 105%;
    font-weight: 500;
    letter-spacing: .3px;
}

.width-15 {
    width: 15%;
}

button {
    background-color: #d2e5b5;
    border: 2px solid #d2e5b5;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all ease .2s;
}

button:hover {
    background-color: #c04971;
    color: #d2e5b5;
}

.message {
    width: 50%;
}

.nav-container {
    background-color: #777;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 110%;
    text-decoration: none;
    transition: all ease .2s;
}

nav ul li a:hover {
    color: #cb3668;
    border-bottom: 3px solid #c04971;
}