/* body,
html {
    padding: 0;
    margin: 0;
}

#hero {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 340px;;
    height: 600px;;
    text-align: center;
}
*/



.container {
    display: flex;
    gap: 10px;
}

.items {
    height: 100px;
    width: 100px;
    background-color: palevioletred;
}